<!doctype html>
<!-- marjose: actualitzat per guieseoi-->

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="expires" content="0">
  <title>Guies EOI</title>
  <meta name="description" content="Guies EOI"> <!-- he canviat el content -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="main.css">
</head>
<body>

<!-- Capçalera -->
<header class="main_header">
    <div class="own_container">
        <h1>{##modul##}<WIOCCL:IF condition="true=={##isCert##}"> - Amb certificació </WIOCCL:IF></h1>
    </div>
</header>
<!-- /Capçalera -->

<!-- Títol -->
<header class="secondary_header">

  <div class="own_container">
    <div class="focus_stripe"></div>
    <h2>Com estudiar aquest mòdul</h2>
  </div>
</header>
<!-- /Títol -->


<!-- Secció 1 -->
<section class="section section1">
  <div class="own_container">
    <div class="section1_container">
      <div class="section1_content_row1">
        <div class="section1_element">
          <div class="section1_icona" id="durada_icona"></div>
          <h3>Dedicació</h3>
          <p>{##dedicacio##} hores</p>       
        </div>
        <div class="section1_element">
          <div class="section1_icona" id="professor_icona"></div>
          <h3>Coordinador</h3>
          <p>{##coordinador##} </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Secció 1 -->

<!-- Secció 2 -->
<section class="section section2">
  <hr>
  <div class="own_container">
    {##modul##} {##nivell##}  és un mòdul {##durada##}
  </div>
</section>
<!-- /Secció 2 -->

<hr>

<!-- Secció 3 -->
<section class="section section3">
  <div class="own_container">  
      <h2>Què faràs en aquest mòdul?</h2>
        <p>El curs s'estructura en blocs que són els següents:</p>
        <br/>
        <table class="own_table">
          <tr>
            <th></th>
            <th>Inici</th>
            <th>Final</th>
            <th>Nom</th>
          </tr>
            <WIOCCL:FOREACH var="itemCal" array="{##dadesBlocs##}">   
            <tr>
              <th>{##itemCal[id]##}</th>
              <td>{#_DATE("{##itemCal[inici]##}")_#}</td>
              <td>{#_DATE("{##itemCal[final]##}")_#}</td>
              <td>{##itemCal[nom]##}</td>

            </tr>
            </WIOCCL:FOREACH>
        </table>
  </div>
</section>


<!-- Secció 4 -->
<section class="section section41">
  <div class="own_container">
    <h2>Com seràs avaluat</h2>
    <p>L'avaluació del curs es fa de manera continuada, a través dels tests i les tasques de producció oral i escrita proposades durant el curs. </p>
    <p>Per aprovar el curs, és necessari obtenir un resultat final del {##notaMinima##} % o superior.</p>
    <p>El càlcul del resultat final es fa atenent a la següent ponderació:</p>
        <table class="own_table">
          <tr>
            <th>NOM</th>
            <th>PONDERACIÓ</th>

          </tr>
            <WIOCCL:FOREACH var="itemAvalNoCert" array="{##comSerasAvaluatNoCert##}">   
            <tr>
              <th>{##itemAvalNoCert[nom]##}</th>
              <td>{##itemAvalNoCert[ponderacio]##}</td>
            </tr>
            </WIOCCL:FOREACH>
        </table>
</section>
<!-- /Secció 4 -->

<hr>

<!-- Secció 5 -->
<section class="section section5">
  <div class="own_container">
    <h2>Calendari d’estudi</h2>
    <table class="own_table">
      <tr>
        <th></th>
        <th>Tipus</th>
        <th>Activitat</th>
        <th>Lliurament</th>
        <th>qualificació</th> 
        <th>ponderació</th> 
      </tr>
<WIOCCL:FOREACH var="itemCal" array="{##calendariNoCert##}">

      <tr>
        <td>{##itemCal[bloc]##}</td>
        <td>{##itemCal[tipusActivitat]##}</td>
        <td>{##itemCal[activitat]##}</td>
        <td>{#_DATE("{##itemCal[dataLliurament]##}")_#}</td>
        <td>{#_DATE("{##itemCal[dataQualificacio]##}")_#}</td>
        <td>{##itemCal[ponderacioNota]##}</td>
      </tr>

</WIOCCL:FOREACH>
    </table>
  </div>
</section>
<!-- /Secció 5 -->


<hr>



</body>
</html>
