<!doctype html>
<html lang="ca">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="expires" content="0">
  <title>Guies EOI</title>
  <meta name="description" content="Guies EOI"> <!-- he canviat el content -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="main.css">
</head>
<body>

<!-- Capçalera -->
<header class="main_header">
    <div>
        <img class="logo" src="img/logo-ioc-petit.svg" alt="Institut Obert de Catalunya">
    </div>
    <div class="own_container">
        <!-- marjose  <WIOCCL:IF condition="true=={##isCert##}"> - Amb certificació </WIOCCL:IF>-->
        <h1>{##modul##} {##nivellcurs##}</h1>
    </div>
    <div class="rflexjust">
        <a href="pt_sencer/pt.html" target="_blank"><img src="img/programacio.png" title="Consulteu aquí la guia d'estudi completa"/></a>
    </div>
</header>
<!-- /Capçalera -->

<!-- Títol -->
<header class="secondary_header">

  <div class="own_container">
    <div class="focus_stripe"></div>
    <h2>Com estudiar aquest mòdul</h2>
  </div>
</header>
<!-- /Títol -->


<!-- Secció 1 -->
<section class="section section1">
  <div class="own_container">

    <div class="section1_container">
      <div class="section1_content_row1">
        <div class="section1_element">
          <div class="section1_icona" id="durada_icona"></div>
          <h3>Dedicació</h3>
          <p>{##duradaHores##} hores</p>
        </div>
        <div class="section1_element">
          <div class="section1_icona" id="professor_icona"></div>
          <div>
           <WIOCCL:IF condition="!{#_IS_STR_EMPTY(''{##colaboradors##}'')_#}&&!{#_STR_CONTAINS(''nom'',''{##colaboradors##}'')_#}">
            <h3>Professors</h3>
            <p>{##colaboradors##}</p>
             </WIOCCL:IF>
            </div>
          <h3>Coordinació</h3>
          <p>{##coordinador##} </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Secció 1 -->
  <hr>
<!-- Secció 2 -->
<section class="section section2">

  <div class="own_container">
    {##modul##} {##nivellcurs##}  és un mòdul {##durada##}
  </div>
</section>
<!-- /Secció 2 -->

<hr>

<!-- Secció 3 -->
<section class="section section5">
  <div class="own_container">

      <h2>Què faràs en aquest mòdul</h2>
        <p>El curs s'estructura en els següents blocs:</p>
        <br/>
        <table class="own_table">
          <tr>
            <th></th>
            <th>Inici</th>
            <th>Final</th>
            <th>Nom</th>
          </tr>
            <WIOCCL:FOREACH var="itemCal" array="{##dadesBlocs##}">
            <tr>
              <th>{##itemCal[id]##}</th>
              <td>{#_DATE("{##itemCal[inici]##}")_#}</td>
              <td>{#_DATE("{##itemCal[final]##}")_#}</td>
              <td>{##itemCal[nom]##}</td>

            </tr>
            </WIOCCL:FOREACH>

        </table>
         <br/><p>{##descripcioConversa##}</p>
  </div>
</section>


<!-- Secció 51 -->
<section class="section section51">
  <div class="own_container">
    <h2>Com seràs avaluat</h2>

    <WIOCCL:IF condition="false=={##isCert##}">
    <p>L'avaluació del curs es fa de manera continuada, a través dels tests i les tasques de producció oral i escrita proposades durant el curs. </p>
    <p>Per aprovar el curs, és necessari obtenir un resultat final del {##notaMinima##} % o superior.</p>
    <br/>
    <p>El càlcul del resultat final es fa atenent a la següent ponderació:</p>
    <br/>
        <table class="own_table_csa">
          <tr>
            <th>NOM</th>
            <th>PONDERACIÓ</th>
          </tr>
            <WIOCCL:FOREACH var="itemAvalNoCert" array="{##comSerasAvaluatNoCert##}">
            <tr>
              <th>{##itemAvalNoCert[nom]##}</th>
              <td>{##itemAvalNoCert[ponderacio]##} %</td>
            </tr>
            </WIOCCL:FOREACH>
            <tr>
              <th>Total</th>
              <th>100 %</th>
            </tr>
        </table>


        <script> <!-- to calculate the value of the last column -->
        function calculateTotal() {
            const table = document.querySelector('.own_table_csa');
            let total = 0;

            // Iterate over all rows except the header and the total row
            for (let i = 1; i < table.rows.length - 1; i++) {
                // Get the value from the second cell (index 1) and add to total
                total += parseFloat(table.rows[i].cells[1].textContent);
            }

            // Set the total in the last cell
            document.getElementById('total').textContent = total + ' %';
        }

        // Call the function to calculate and display the total
        calculateTotal();

            </script>
    <br/>
    </WIOCCL:IF>

<WIOCCL:IF condition="true=={##isCert##}">
    <WIOCCL:IF condition="{#_STR_CONTAINS(''2B'', ''{##nivellcurs##}'')_#}||{#_STR_CONTAINS(''3B'', ''{##nivellcurs##}'')_#}||{#_STR_CONTAINS(''5B'', ''{##nivellcurs##}'')_#}||{#_STR_CONTAINS(''C1'', ''{##nivellcurs##}'')_#}||{#_STR_CONTAINS(''C2'', ''{##nivellcurs##}'')_#}">
        <p>Per superar aquest mòdul s'ha d'aprovar la prova de
        <WIOCCL:IF condition="{#_STR_CONTAINS(''2B'', ''{##nivellcurs##}'')_#}">
        certificat de Nivell Bàsic. És una prova telemàtica. </p>
        </WIOCCL:IF>
        <WIOCCL:IF condition="{#_STR_CONTAINS(''3B'', ''{##nivellcurs##}'')_#}">
        certificat de Nivell Intermedi B1. És una prova presencial.</p>
        </WIOCCL:IF>
        <WIOCCL:IF condition="{#_STR_CONTAINS(''5B'', ''{##nivellcurs##}'')_#}">
        certificat de Nivell Intermedi B2. És una prova presencial. </p>
        </WIOCCL:IF>
        <WIOCCL:IF condition="{#_STR_CONTAINS(''C1'', ''{##nivellcurs##}'')_#}">
        certificat de Nivell C1. És una prova presencial. </p>
        </WIOCCL:IF>
        <WIOCCL:IF condition="{#_STR_CONTAINS(''C2'', ''{##nivellcurs##}'')_#}">
        certificat de Nivell C2. És una prova presencial. </p>
        </WIOCCL:IF>
    <br/>
    <p>La prova està constituïda per tasques de comprensió oral, comprensió escrita, expressió i interacció escrita, expressió i interacció oral i mediació.</p>
    <br/>
    <p>Cadascuna de les cinc parts que componen la prova tindrà una ponderació del 20% sobre el total de la puntuació de la prova.</p>
    <br/>
    <p>Per superar la prova de certificació cal obtenir un mínim del 65% de la puntuació total i un mínim del 50% de la puntuació de cadascuna de les cinc parts.</p>
    </WIOCCL:IF>
</WIOCCL:IF>




    </div>
</section>
<!-- /Secció 51 -->

<hr>

<!-- Secció 5 -->
<section class="section section5">
  <div class="own_container">
    <h2>Calendari d’estudi</h2>


    <table class="own_table">
      <tr>
        <th>Bloc</th>
        <th>Tipus</th>
        <th>Activitat</th>
        <th>Lliurament</th>
        <th>qualificació</th>

      </tr>

      <WIOCCL:FOREACH var="itemCal" array="{##calendari##}">
      <tr>
        <td>{##itemCal[bloc]##}</td>
        <td>{##itemCal[tipusActivitat]##}</td>
        <td>{##itemCal[activitat]##}</td>
        <td>{#_DATE("{##itemCal[dataLliurament]##}")_#}</td>
        <td>{#_DATE("{##itemCal[dataQualificacio]##}")_#}</td>
      </tr>
      </WIOCCL:FOREACH>

    </table>


  </div>
</section>
<!-- /Secció 5 -->
<!-- Secció 7 Cert-->

<WIOCCL:IF condition="false=={##isCert##}">

<section class="section section7">
  <div class="own_container">
    <h2>Proves</h2>
    <div class="panell_proves">
        <div>
        <h3>Prova Oral</h3>
        <div class="section7_icona" id="pv-icona"></div>
         <div class="provaOral">
             <h3>del {#_DATE("{##provaOralIni##}")_#} al {#_DATE("{##provaOralFi##}")_#}</h3></div>
	<div class="horizontal_separator"></div>
        </div>
        <div class="vertical_separator"></div>
        <div>
        <h3>Prova escrita</h3>
        <div class="section7_icona" id="paf-icona"></div>
        <h3>{#_DATE("{##dataProvaNoCert##}")_#}</h3>
        <div class="horizontal_separator"></div>
        </div>
      </div>
    </div>
  </div>
</section>
</WIOCCL:IF>

<!-- /Secció 7 -->



<!-- Secció 7 Cert-->

<WIOCCL:IF condition="true=={##isCert##}">
<section class="section section7">
  <div class="own_container">
    <h2>Prova certificació</h2>
    <div class="panell_proves">
        <div class="cert">
        <div class="section7_icona" id="pv-icona"></div>
            <br/>
            <WIOCCL:IF condition="{#_STR_CONTAINS(''2B'', ''{##nivellcurs##}'')_#}">
            <h3>{#_DATE("{##dataCertA2##}")_#}</h3>
            </WIOCCL:IF>
            <WIOCCL:IF condition="{#_STR_CONTAINS(''3B'', ''{##nivellcurs##}'')_#}">
            <h3>{#_DATE("{##dataCertB1##}")_#}</h3>
            </WIOCCL:IF>
            <WIOCCL:IF condition="{#_STR_CONTAINS(''5B'', ''{##nivellcurs##}'')_#}">
            <h3>{#_DATE("{##dataCertB2##}")_#}</h3>
            </WIOCCL:IF>
            <WIOCCL:IF condition="{#_STR_CONTAINS(''C1'', ''{##nivellcurs##}'')_#}">
             <h3>{#_DATE("{##dataCertC1##}")_#}</h3>
            </WIOCCL:IF>
            <WIOCCL:IF condition="{#_STR_CONTAINS(''C2'', ''{##nivellcurs##}'')_#}">
             <h3>{#_DATE("{##dataCertC2##}")_#}</h3>
            </WIOCCL:IF>
	<div class="horizontal_separator"></div>
        </div>
      </div>
    </div>

  </div>
</section>
</WIOCCL:IF>

<!-- /Secció 7 -->



<hr>



</body>
</html>
