<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>IOC - Convocatòries Escola Oficial d'Idiomes</title>
    <meta name="description" content="Convocatòria EOI">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
</head>
<body>

<!-- Capçalera -->
<header class="main_header">
    <div class="own_container">
        <h1>Convocatòries Escola Oficial d'Idiomes</h1>
    </div>
</header>
<!-- /Capçalera -->

<!-- Barra de navegació !-->
<nav>
    <ul>
        <li><a target="_blank" href="c_sencer/ca2.html">Programació completa A2</a></li>
        <li><a target="_blank" href="c_sencer/cb1.html">Programació completa B1</a></li>
        <li><a target="_blank" href="c_sencer/cb2.html">Programació completa B2</a></li>
    </ul>

</nav>


<!-- Títol A2 -->
<header class="secondary_header">

    <div class="own_container">
        <div class="focus_stripe"></div>
        <h2>EOI IOC. Prova per a l'obtenció del certificat de nivell bàsic A2</h2>
    </div>
</header>
<!-- /Títol A2 -->




<!-- Secció A2 -->
<section class="section section1">
    <div class="own_container">
        <div class="section1_container">
            <div class="section1_content_row1">
                <div class="section1_element">
                    <div class="section1_icona" id="durada_icona"></div>
                    <h3>Prova escrita</h3>
                    <p>{##dataProva1##}</p>
                </div>
                <div class="section1_element">
                    <div class="section1_icona" id="durada_icona"></div>
                    <h3>Prova d'expressió i interacció oral</h3>
                    <p>{##dataProva1##}</p>
                </div>
            </div>

            <div class="section1_content_row1">
                <div class="section1_element">
                    <div class="section1_icona" id="durada_icona"></div>
                    <h3>Publicació resultats</h3>
                    <p>{##dataResultats##}</p>
                </div>
                <div class="section1_element">
                    <div class="section1_icona" id="durada_icona"></div>
                    <h3>Reclamacions</h3>
                    <p>{##dataReclamacions##}</p>
                </div>

            </div>
        </div>
        <a target="_blank" href="c_sencer/ca2.html">Consulteu aquí la programació completa per la prova A2</a>
    </div>
</section>
<!-- /Secció A2 -->


<!-- Títol B1 -->
<header class="secondary_header">

    <div class="own_container">
        <div class="focus_stripe"></div>
        <h2>EOI IOC. Prova per a l'obtenció del certificat de nivell intermedi B1</h2>
    </div>
</header>
<!-- /TítolB1 -->


<!-- Secció B1 -->
<section class="section section1">
    <div class="own_container">
        <div class="section1_container">
            <div class="section1_content_row1">
                <div class="section1_element">
                    <div class="section1_icona" id="durada_icona"></div>
                    <h3>Prova escrita</h3>
                    <p>{##dataProva1##}</p>
                </div>
                <div class="section1_element">
                    <div class="section1_icona" id="durada_icona"></div>
                    <h3>Prova d'expressió i interacció oral</h3>
                    <p>{##dataProva1##}</p>
                </div>
            </div>

            <div class="section1_content_row1">
                <div class="section1_element">
                    <div class="section1_icona" id="durada_icona"></div>
                    <h3>Publicació resultats</h3>
                    <p>{##dataResultats##}</p>
                </div>
                <div class="section1_element">
                    <div class="section1_icona" id="durada_icona"></div>
                    <h3>Reclamacions</h3>
                    <p>{##dataReclamacions##}</p>
                </div>

            </div>
        </div>
        <a target="_blank" href="c_sencer/cb1.html">Consulteu aquí la programació completa per la prova B1</a>
    </div>
</section>
<!-- /Secció B1 -->

<!-- Títol B2-->
<header class="secondary_header">

    <div class="own_container">
        <div class="focus_stripe"></div>
        <h2>EOI IOC. Prova per a l'obtenció del certificat de nivell intermedi B2</h2>
    </div>
</header>
<!-- /Títol B2 -->


<!-- Secció B2 -->
<section class="section section1">
    <div class="own_container">
        <div class="section1_container">
            <div class="section1_content_row1">
                <div class="section1_element">
                    <div class="section1_icona" id="durada_icona"></div>
                    <h3>Prova escrita</h3>
                    <p>{##dataProva2##}</p>
                </div>
                <div class="section1_element">
                    <div class="section1_icona" id="durada_icona"></div>
                    <h3>Prova d'expressió i interacció oral</h3>
                    <p>{##dataProva2##}</p>
                </div>
            </div>

            <div class="section1_content_row1">
                <div class="section1_element">
                    <div class="section1_icona" id="durada_icona"></div>
                    <h3>Publicació resultats</h3>
                    <p>{##dataResultats##}</p>
                </div>
                <div class="section1_element">
                    <div class="section1_icona" id="durada_icona"></div>
                    <h3>Reclamacions</h3>
                    <p>{##dataReclamacions##}</p>
                </div>

            </div>
        </div>
        <a target="_blank" href="c_sencer/cb2.html">Consulteu aquí la programació completa per la prova B2</a>
    </div>
</section>
<!-- /Secció B2 -->


</body>
</html>
