<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>IOC - Convocatòries Escola Oficial d'Idiomes</title>
    <meta name="description" content="Convocatòria EOI">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
</head>
<body>

<!-- Capçalera -->
<header class="main_header">
    <div class="own_container">
        <h1>{##title_b1##}</h1>
    </div>
</header>
<!-- /Capçalera -->


<!-- Títol A2 -->
<header class="secondary_header">

    <div class="own_container">
        <div class="focus_stripe"></div>
        <h2>Dades bàsiques</h2>
    </div>
</header>
<!-- /Títol A2 -->


<!-- Secció B1 -->
<section class="section section1">
    <div class="own_container">
        <div class="section1_container">
            <div class="section1_content_row1">
                <div class="section1_element">
                    <h3>Prova escrita</h3>
                    <div class="section1_icona" id="durada_icona"></div>
                    <p>{##dataProva1##}</p>
                </div>
                <div class="section1_element">
                    <h3>Prova d'expressió i interacció oral</h3>
                    <div class="section1_icona" id="durada_icona"></div>
                    <p>{##dataProva1##}</p>
                </div>
            </div>

            <div class="section1_content_row1">
                <div class="section1_element">
                    <h3>Publicació resultats</h3>
                    <div class="section1_icona" id="durada_icona"></div>
                    <p>{##dataResultats##}</p>
                </div>
                <div class="section1_element">
                    <h3>Reclamacions</h3>
                    <div class="section1_icona" id="durada_icona"></div>
                    <p>{##dataReclamacions##}</p>
                </div>

            </div>
        </div>
        <div class="section1_container">
            <a href="https://goo.gl/maps/PncUtYcbS252" target="_blank"><img class ="map" alt="Adreça"
                                                                            src="c_sencer/resources/mapa-prova-A2-B1.jpg"/></a>
        </div>
    </div>
    <a class="complete" target="_blank" href="c_sencer/cb1.html">Consulteu aquí la programació completa per la prova B1</a>
</section>
<!-- /Secció B1 -->


</body>
</html>
