<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Guia d'estudi</title>
  <meta name="description" content="Guia d'estudi">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="main.css">
</head>
<body>

<!-- Capçalera -->
<header class="main_header">
  <div class="own_container">
    <h1>{##modul##}</h1>
  </div>
</header>
<!-- /Capçalera -->

<!-- Títol -->
<header class="secondary_header">

  <div class="own_container">
    <div class="focus_stripe"></div>
    <h2>Informació bàsica del mòdul</h2>
  </div>
</header>
<!-- /Títol -->


<!-- Secció 1 -->
<!--section class="section section1">
  <div class="own_container">
    <div class="section1_container">
      <div class="section1_content_row2">
        <div class="section1_element">
          <div class="section1_icona" id="dedicacio_icona"></div>
          <h3>Durada</h3>
          <p>{##dedicacio##} hores</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Secció 1 -->

<!-- Secció 5 -->
<section class="section section5">
  <div class="own_container">
    <h2>Calendari d’estudi</h2>
    <table class="own_table">
      <tr>
        <th></th>
        <th>Inici</th>
        <th>Final</th>
      </tr>
      <tr>
        <td>Lliurament 1</td>
        <td>{#_DATE("{##lliuraments#lliurament1#dataInici##}")_#}</td>
        <td>{#_DATE("{##lliuraments#lliurament1#dataFinal##}")_#}</td>
      </tr>
      <tr>
        <td>Lliurament 2</td>
        <td>{#_DATE("{##lliuraments#lliurament2#dataInici##}")_#}</td>
        <td>{#_DATE("{##lliuraments#lliurament2#dataFinal##}")_#}</td>
      </tr>
      <tr>
        <td>Lliurament 3</td>
        <td>{#_DATE("{##lliuraments#lliurament3#dataInici##}")_#}</td>
        <td>{#_DATE("{##lliuraments#lliurament3#dataFinal##}")_#}</td>
      </tr>
      <tr>
        <td>Lliurament 4</td>
        <td>{#_DATE("{##lliuraments#lliurament4#dataInici##}")_#}</td>
        <td>{#_DATE("{##lliuraments#lliurament4#dataFinal##}")_#}</td>
      </tr>
    </table>
  </div>
</section>
<!-- /Secció 5 -->

<hr>

<WIOCCL:IF condition="{##hiHaPValidacio##}==true">
<!-- Secció 7 -->
<section class="section section7">
  <div class="own_container">
    <h3>Prova de validació</h3>
    <div class="panell_pafs">
      <div class="paf_1">
        <div class="section7_icona" id="paf-1-icona"></div>
        <h3>{#_DATE("{##dataPValidacio##}")_#}</h3>
        <div class="horizontal_separator"></div>
      </div>
    </div>
    <div class="tyJCtd mGzaTb baZpAe">
        <p id="h.p_0aRYLRUMQkoG" class="zfr3Q">Aquest mòdu<strong>l té una prova de validació final i </strong>s'aprova si es compleixen aquests requisit<strong>s: </strong></p>
        <ul class="n8H08c UVNKR">
            <li id="h.p_MC6KfIrEQk8V" class="zfr3Q TYR86d">Haver fet tots els lliuraments.</li>
            <li id="h.p_S9YSyUBmQk8W" class="zfr3Q TYR86d">Tenir una nota mitjana de les activitats del mòdul igual o superior a 5.</li>
            <li id="h.p_khYf76UKQz-B" class="zfr3Q TYR86d">Validar o superar la prova final presencial. </li>
        </ul>
    </div>
  </div>
</section>
<!-- /Secció 7 -->
</WIOCCL:IF>


<hr>

<!-- Secció 8 -->
<section class="section section8">
  <div class="own_container">
    <h2 id="qualificació">Qualificació</h2>
     <div class="containerQualificacio" id="contenidorQualificacio">

    </div>
    <script type="text/javascript"> 
(function(){
    var dataArray1 = [[
                        {title:"Mòdul", percent:0}, 
                        {title:"Ll 1", percent:"{##lliuraments#lliurament1#percentatge##}"}, 
                        {title:"Ll 2", percent:"{##lliuraments#lliurament2#percentatge##}"}, 
                        {title:"Ll 3", percent:"{##lliuraments#lliurament3#percentatge##}"}, 
                        {title:"Ll 4", percent:"{##lliuraments#lliurament4#percentatge##}"} ]];


    /*****************/

    var numberOfRows = 0;
    var numberOfCells = [];

    for(var i = 0; i <= dataArray1.length - 1; i++) {
        createPercentRow(i);
        createTitleRow(i);
        numberOfRows += 2;
        numberOfCells += dataArray1[i].length;
        }

    for(var i = 0; i <= numberOfRows - 1; i++) {
        for(var j = 0; j <= numberOfCells[i] - 1; j++) {
          /* Creem cel·les de percentatge */
          var newPercentCell =  document.createElement("div");
          var newPercentContentCell =  document.createElement("span");
          var percentCellContent = document.createTextNode(dataArray1[i][j].percent + "%");
          document.createTextNode(dataArray1[i][j].percent + "%");
          newPercentCell.setAttribute("class", "cellQualificacio");
          newPercentContentCell.appendChild(percentCellContent);
          newPercentCell.appendChild(newPercentContentCell);
          newPercentCell.style.width = dataArray1[i][j].percent + "%";
          document.getElementById("percent_row" + i).appendChild(newPercentCell);
          /* Creem cel·les de títol */
          var newTitleCell =  document.createElement("div");
          var newTitleContentCell =  document.createElement("span");
          var titleCellContent = document.createTextNode(dataArray1[i][j].title);
          newTitleCell.setAttribute("class", "cellQualificacio");
          newTitleContentCell.appendChild(titleCellContent);
          newTitleCell.appendChild(newTitleContentCell);
          newTitleCell.style.width = dataArray1[i][j].percent + "%";
          document.getElementById("title_row" + i).appendChild(newTitleCell);
        }
    }

    var allCells = document.querySelectorAll(".cellQualificacio");

    for(var k = 0; k <= allCells.length - 1; k++) {

      if (parseInt(allCells[k].style.width) > 0 && parseInt(allCells[k].style.width) < 25) {
            allCells[k].classList.add("smallCell");
            var textHolder = allCells[k].innerHTML;
          }
    }

    /* Funcions per crear files */

    function createPercentRow(index) {
        var newPercentRow =  document.createElement("div");
        newPercentRow.setAttribute("class", "rowQualificacio");
        newPercentRow.setAttribute("id", "percent_row" + index);
        document.getElementById("contenidorQualificacio").appendChild(newPercentRow);
    }

    function createTitleRow(index) {
        var newTitleRow =  document.createElement("div");
        newTitleRow.setAttribute("class", "rowQualificacio");
        newTitleRow.setAttribute("id", "title_row" + index);
        document.getElementById("contenidorQualificacio").appendChild(newTitleRow);
    }
})();
    </script>
    <a target="_blank" href="ge_sencera/ge.html">Consulteu aquí la guia d'estudi completa</a>
  </div>
</section>
<!-- /Secció 8 -->





</body>
</html>
