<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Pla de treball</title>
  <meta name="description" content="Pla de treball">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="main.css">
</head>
<body>

<!-- Capçalera -->
<header class="main_header">
  <div class="own_container">
    <h1>{##modul##}</h1>
  </div>
</header>
<!-- /Capçalera -->

<!-- Títol -->
<header class="secondary_header">

  <div class="own_container">
    <div class="focus_stripe"></div>
    <h2>Com estudiar aquest mòdul</h2>
  </div>
</header>
<!-- /Títol -->


<!-- Secció 1 -->
<section class="section section1">
  <div class="own_container">
    <div class="section1_container">
      <div class="section1_content_row1">
        <div class="section1_element">
          <div class="section1_icona" id="durada_icona"></div>
          <h3>Durada</h3>
          <p>{##durada##} hores</p>       
        </div>
        <div class="section1_element">
          <div class="section1_icona" id="professor_icona"></div>
          <h3>Professor</h3>
          <p>{##professors##}</p>
        </div>
      </div>
      <div class="section1_content_row2">
        <div class="section1_element">
          <div class="section1_icona" id="material_icona"></div>
          <h3>Material didàctic</h3>
          <a href="{##urlMaterialDidactic##}">material de l'aula</a>
        </div>
        <div class="section1_element">
          <div class="section1_icona" id="dedicacio_icona"></div>
          <h3>Dedicació setmanal</h3>
          <p>{##dedicacio##} hores</p>
        </div>
      </div>
<WIOCCL:IF condition="{##requerimentsMatricula##}!=''''">  
      <div class="section1_content_row3">
          <div class="franja_color">
            <div class="section1_icona" id="requisits_icona"></div>
          </div>
          <h3>Requeriments i incompatibilitats de la matrícula</h3>
          <p>{##requerimentsMatricula##}</p>
      </div>      
</WIOCCL:IF>
    </div>
  </div>
</section>
<!-- /Secció 1 -->

<!-- Secció 2 -->
<section class="section section2">
  <hr>
  <div class="own_container">
    Aquest <WIOCCL:IF condition="''mòdul''!={##tipusBlocModul##}">{##tipusBlocModul##} del</WIOCCL:IF> mòdul {##modul##} tracta de {##descripcio##}
  </div>
</section>
<!-- /Secció 2 -->

<hr>

<!-- Secció 3 -->
<section class="section section3">
  <div class="own_container">
    <h2>Itinerari formatiu recomanat</h2>
<WIOCCL:IF condition="{##semestre##}==1">
    <div class="section3_itinerari">
      <div class="requadre_itinerari">
         <!-- /requadre semestre 1 -->
<WIOCCL:IF condition="{##itinerariRecomanatS1##}==1">
        <div class="rectangle rectangle_destacat">1r semestre</div>
</WIOCCL:IF>
<WIOCCL:IF condition="{##itinerariRecomanatS1##}!=1">
        <div class="rectangle"></div>
</WIOCCL:IF>
         <!-- /requadre semestre 2 -->
<WIOCCL:IF condition="{##itinerariRecomanatS1##}==2">
        <div class="rectangle rectangle_destacat">2n semestre</div>
</WIOCCL:IF>
<WIOCCL:IF condition="{##itinerariRecomanatS1##}!=2">
        <div class="rectangle"></div>
</WIOCCL:IF>
         <!-- /requadre semestre 3 -->
<WIOCCL:IF condition="{##itinerariRecomanatS1##}==3">
        <div class="rectangle rectangle_destacat">3r semestre</div>
</WIOCCL:IF>
<WIOCCL:IF condition="{##itinerariRecomanatS1##}!=3">
        <div class="rectangle"></div>
</WIOCCL:IF>
         <!-- /requadre semestre 4 -->
<WIOCCL:IF condition="{##itinerariRecomanatS1##}==4">
        <div class="rectangle rectangle_destacat">4t semestre</div>
</WIOCCL:IF>
<WIOCCL:IF condition="{##itinerariRecomanatS1##}!=4">
        <div class="rectangle"></div>
</WIOCCL:IF>
         <!-- /requadre semestre 5 -->
<WIOCCL:IF condition="{##itinerariRecomanatS1##}==5">
        <div class="rectangle rectangle_destacat">5è semestre</div>
</WIOCCL:IF>
<WIOCCL:IF condition="{##itinerariRecomanatS1##}!=5">
        <div class="rectangle"></div>
</WIOCCL:IF>
         <!-- /requadre semestre 6 -->
<WIOCCL:IF condition="{##itinerariRecomanatS1##}==6">
        <div class="rectangle rectangle_destacat">6è semestre</div>
</WIOCCL:IF>
<WIOCCL:IF condition="{##itinerariRecomanatS1##}!=6">
        <div class="rectangle"></div>
</WIOCCL:IF>
         <!-- /requadre semestre 7 -->
<WIOCCL:IF condition="{##itinerariRecomanatS1##}==7">
        <div class="rectangle rectangle_destacat">7è semestre</div>
</WIOCCL:IF>
<WIOCCL:IF condition="{##itinerariRecomanatS1##}!=7">
        <div class="rectangle"></div>
</WIOCCL:IF>
         <!-- /requadre semestre 8 -->
<WIOCCL:IF condition="{##itinerariRecomanatS1##}==8">
        <div class="rectangle rectangle_destacat">8è semestre</div>
</WIOCCL:IF>
<WIOCCL:IF condition="{##itinerariRecomanatS1##}!=8">
        <div class="rectangle"></div>
</WIOCCL:IF>
      </div>
    </div>
</WIOCCL:IF>
<WIOCCL:IF condition="{##semestre##}==2">
    <div class="section3_itinerari">
      <div class="requadre_itinerari">
         <!-- /requadre semestre 1 -->
<WIOCCL:IF condition="{##itinerariRecomanatS2##}==1">
        <div class="rectangle rectangle_destacat">1r semestre</div>
</WIOCCL:IF>
<WIOCCL:IF condition="{##itinerariRecomanatS2##}!=1">
        <div class="rectangle"></div>
</WIOCCL:IF>
         <!-- /requadre semestre 2 -->
<WIOCCL:IF condition="{##itinerariRecomanatS2##}==2">
        <div class="rectangle rectangle_destacat">2n semestre</div>
</WIOCCL:IF>
<WIOCCL:IF condition="{##itinerariRecomanatS2##}!=2">
        <div class="rectangle"></div>
</WIOCCL:IF>
         <!-- /requadre semestre 3 -->
<WIOCCL:IF condition="{##itinerariRecomanatS2##}==3">
        <div class="rectangle rectangle_destacat">3r semestre</div>
</WIOCCL:IF>
<WIOCCL:IF condition="{##itinerariRecomanatS2##}!=3">
        <div class="rectangle"></div>
</WIOCCL:IF>
         <!-- /requadre semestre 4 -->
<WIOCCL:IF condition="{##itinerariRecomanatS2##}==4">
        <div class="rectangle rectangle_destacat">4t semestre</div>
</WIOCCL:IF>
<WIOCCL:IF condition="{##itinerariRecomanatS2##}!=4">
        <div class="rectangle"></div>
</WIOCCL:IF>
         <!-- /requadre semestre 5 -->
<WIOCCL:IF condition="{##itinerariRecomanatS2##}==5">
        <div class="rectangle rectangle_destacat">5è semestre</div>
</WIOCCL:IF>
<WIOCCL:IF condition="{##itinerariRecomanatS2##}!=5">
        <div class="rectangle"></div>
</WIOCCL:IF>
         <!-- /requadre semestre 6 -->
<WIOCCL:IF condition="{##itinerariRecomanatS2##}==6">
        <div class="rectangle rectangle_destacat">6è semestre</div>
</WIOCCL:IF>
<WIOCCL:IF condition="{##itinerariRecomanatS2##}!=6">
        <div class="rectangle"></div>
</WIOCCL:IF>
         <!-- /requadre semestre 7 -->
<WIOCCL:IF condition="{##itinerariRecomanatS2##}==7">
        <div class="rectangle rectangle_destacat">7è semestre</div>
</WIOCCL:IF>
<WIOCCL:IF condition="{##itinerariRecomanatS2##}!=7">
        <div class="rectangle"></div>
</WIOCCL:IF>
         <!-- /requadre semestre 8 -->
<WIOCCL:IF condition="{##itinerariRecomanatS2##}==8">
        <div class="rectangle rectangle_destacat">8è semestre</div>
</WIOCCL:IF>
<WIOCCL:IF condition="{##itinerariRecomanatS2##}!=8">
        <div class="rectangle"></div>
</WIOCCL:IF>
      </div>
    </div>
</WIOCCL:IF>
    <h2>Distribució horària del mòdul</h2>
    <div class="containerDistribHoraria">
        <div class="rowDistribHoraria" id="rowDistribHoraria1"></div>
        <div class="rowDistribHoraria" id="rowDistribHoraria2"></div>
        <div class="rowDistribHoraria" id="rowDistribHoraria3"></div>
        <div class="rowDistribHoraria" id="rowDistribHoraria4"></div>
    </div>
    <script type="text/javascript">
/**** DADES ****/

/* Es poden modificar les dades, afegint qualsevol sèries de valors de la llargada que calgui.*/
(function(){
<WIOCCL:SET var="nbloc" type="map" value="{##tipusBlocModul##}" map="{''mòdul'':0,''1r. bloc'':1,''2n. bloc'':2,''3r. bloc'':3}">    
    var dataArray = [
            [<WIOCCL:FOREACH var="itemUf" array="{##taulaDadesUF##}" filter="{##itemUf[bloc]##}=={##nbloc##}"><WIOCCL:SUBSET subsetvar="filtered" array="{##taulaDadesUF##}" arrayitem="itemsub" filter="{##itemUf[unitat formativa]##}=={##itemsub[unitat formativa]##}">{#_FIRST({##filtered##}, "FIRST[hores]")_#},</WIOCCL:SUBSET></WIOCCL:FOREACH>], /* Num. hores per cada UF */
            [<WIOCCL:FOREACH var="item" array="{##taulaDadesUnitats##}">{##item[hores]##},</WIOCCL:FOREACH>], /* Num. hores per cada U */
            [<WIOCCL:FOREACH var="itemUf" array="{##taulaDadesUF##}" filter="{##itemUf[bloc]##}=={##nbloc##}"><WIOCCL:SUBSET subsetvar="filtered" array="{##taulaDadesUF##}" arrayitem="itemsub" filter="{##itemUf[unitat formativa]##}=={##itemsub[unitat formativa]##}">{#_FIRST({##filtered##}, "FIRST[unitat formativa]")_#},</WIOCCL:SUBSET></WIOCCL:FOREACH>], /* ID. de cada UF */
            [<WIOCCL:FOREACH var="item" array="{##taulaDadesUnitats##}">{##item[unitat]##},</WIOCCL:FOREACH>] /* ID de cada U */
        ];
</WIOCCL:SET>
    /*****************/


    /* Creem fila total hores per UF */

    var totalHoresUFs = 0;
    for(var i = 0; i < dataArray[0].length; i++) {
          totalHoresUFs += dataArray[0][i];
    }

    var rowDistribHoraria2 = document.getElementById("rowDistribHoraria2");

    for(var i = 0; i < dataArray[0].length; i++) {
         var percentWidth = dataArray[0][i]*100/totalHoresUFs + "%";
         var textCell = dataArray[0][i] + "h"
         createCell(rowDistribHoraria2, percentWidth, textCell);
    }



    /* Creem fila total hores per U */

    var totalHoresUs = 0;
    for(var i = 0; i < dataArray[1].length; i++) {
          totalHoresUs += dataArray[1][i];
    }

    var rowDistribHoraria3 = document.getElementById("rowDistribHoraria3");

    for(var i = 0; i < dataArray[1].length; i++) {
         var percentWidth = dataArray[1][i]*100/totalHoresUs + "%";
         var textCell = dataArray[1][i] + "h"
         createCell(rowDistribHoraria3, percentWidth, textCell);
    }


    /* Creem fila títols UFs*/

    var totalHoresUFs = 0;
    for(var i = 0; i <= dataArray[0].length-1; i++) {
          totalHoresUFs += dataArray[0][i];
    }

    var rowDistribHoraria1 = document.getElementById("rowDistribHoraria1");

    for(var i = 0; i < dataArray[0].length; i++) {
         var percentWidth = dataArray[0][i]*100/totalHoresUFs + "%";
         var textCell = "UF" + dataArray[2][i];//(i+1);
         createCell(rowDistribHoraria1, percentWidth, textCell);
    }


    /* Creem fila títols Us*/

    var totalHoresUs = 0;
    for(var i = 0; i <= dataArray[1].length-1; i++) {
          totalHoresUs += dataArray[1][i];
    }

    var rowDistribHoraria4 = document.getElementById("rowDistribHoraria4");

    for(var i = 0; i <= dataArray[1].length-1; i++) {
         var percentWidth = dataArray[1][i]*100/totalHoresUs + "%";
         var textCell = "U" + dataArray[3][i]//(i+1);
         createCell(rowDistribHoraria4, percentWidth, textCell);
    }


    /* Funció per crear celles */

    function createCell(parent, width, text) {
        var newCell =  document.createElement("div");
        var newContent = document.createTextNode(text);
        newCell.setAttribute("class", "cellDistribHoraria");
        newCell.appendChild(newContent);
        newCell.style.width = width;
        parent.appendChild(newCell);
    }
})();
        
    </script>    
  </div>
</section>
<!-- /Secció 3 -->

<hr>

<!-- Secció 4 -->
<section class="section section4">
  <div class="own_container">
    <h2>Eines d'aprenentatge</h2>
    <div class="requadre_eines">
<WIOCCL:FOREACH var="item" array="{##einesAprenentatge##}" counter="ind">
<WIOCCL:IF condition="{##ind##}==0">
      <div class="puzzle puzzle_dalt" id="puzzle{#_SUMA({##ind##},1)_#}">
</WIOCCL:IF>
<WIOCCL:IF condition="{##ind##}\>0&&{##ind##}\<{#_SUBS({#_ARRAY_LENGTH({##einesAprenentatge##})_#},1)_#}">
      <div class="puzzle puzzle_mig" id="puzzle{#_SUMA({##ind##},1)_#}">
</WIOCCL:IF>
<WIOCCL:IF condition="{##ind##}=={#_SUBS({#_ARRAY_LENGTH({##einesAprenentatge##})_#},1)_#}">
      <div class="puzzle puzzle_baix" id="puzzle{#_SUMA({##ind##},1)_#}">
</WIOCCL:IF>
<WIOCCL:IF condition="{##item[tipus]##}==''lectura''">
        <div class="section4_icona" id="llibre_icona"></div>
</WIOCCL:IF>
<WIOCCL:IF condition="{##item[tipus]##}==''autoavaluació''">
        <div class="section4_icona" id="exercicis_icona"></div>
</WIOCCL:IF>
<WIOCCL:IF condition="{##item[tipus]##}==''fòrum''">
        <div class="section4_icona" id="forum_icona"></div>
</WIOCCL:IF>
<WIOCCL:IF condition="{##item[tipus]##}==''qüestionari''">
        <div class="section4_icona" id="questionari_icona"></div>
</WIOCCL:IF>
<WIOCCL:IF condition="{##item[tipus]##}==''exercicis''">
        <div class="section4_icona" id="avaluacio_icona"></div>
</WIOCCL:IF>
        <div>
          <h4>{##item[eina]##}</h4>
          <h3>{##item[opcionalitat]##} <WIOCCL:IF condition="{##item[puntuable]##}==true">(puntua a l'AC)</WIOCCL:IF></h3>
        </div>
      </div>
</WIOCCL:FOREACH>
    </div>
  </div>
</section>
<!-- /Secció 4 -->

<hr>

<!-- Secció 5 -->
<section class="section section5">
  <div class="own_container">
    <h2>Calendari d’estudi</h2>
    <table class="own_table">
      <tr>
        <th colspan="2"></th>
        <th>Inici</th>
        <th>Final</th>
      </tr>
<WIOCCL:FOR from="{#_MIN({##calendari##}, ''MIN[unitat]'')_#}" to="{#_MAX({##calendari##}, ''MAX[unitat]'')_#}" counter="idUnitat">
<WIOCCL:SUBSET subsetvar="filtered" array="{##calendari##}" arrayitem="itemsub" filter="{##itemsub[unitat]##}=={##idUnitat##}">     
<WIOCCL:FOREACH  var="itemCal" array="{##filtered##}" counter="cont">
      <tr>
<WIOCCL:IF condition="{##cont##}==0">
        <th rowspan="{#_ARRAY_LENGTH({##filtered##})_#}">U{##itemCal[unitat]##}</th>
</WIOCCL:IF>
        <td>{#_UPPERCASE("{##itemCal[tipus període]##}", 1)_#} {##itemCal[període]##}</td>
        <td>{#_DATE("{##itemCal[inici]##}")_#}</td>
        <td>{#_DATE("{##itemCal[final]##}")_#}</td>
      </tr>
</WIOCCL:FOREACH>
</WIOCCL:SUBSET>
</WIOCCL:FOR>
    </table>
  </div>
</section>
<!-- /Secció 5 -->

<!-- Secció 6 -->
<section class="section section6">
  <div class="own_container">
    <h2>Avaluació contínua</h2>
    <p>És recomanable realitzar els <strong>les activitats d’avaluació contínua</strong> ja que la seva nota incideix en la qualificació final (<a href="#qualificacio">consulteu l'apartat de qualificació</a>).</p>
    <br/>
    <p>Els EACs els resol l’estudiant per la seva banda, i els ha de lliurar al campus en la data indicada. </p>
    <br/>
    <p>Aquest mòdul inclou <span>{#_ARRAY_LENGTH({##datesAC##})_#} EACs</span>, distribuïts de la següent manera:</p>
    <table class="own_table">
      <tr>
        <th></th>
        <th>Publicació</th>
        <th>Lliurament</th>
        <th>Solució</th>
        <th>Qualificació</th>
      </tr>
<WIOCCL:FOREACH var="item" array="{##datesAC##}">
      <tr>
        <th>U{##item[unitat]##} ({##item[id]##})</th>
        <td>{#_DATE("{##item[enunciat]##}")_#}</td>
        <td>{#_DATE("{##item[lliurament]##}")_#}</td>
        <td>{#_DATE("{##item[solució]##}")_#}</td>
        <td>{#_DATE("{##item[qualificació]##}")_#}</td>
      </tr>
</WIOCCL:FOREACH>            
    </table>
<WIOCCL:IF condition="{##notaMinimaAC##}\>0">
    <p>No es tindrà en compte la qualificació de l’avaluació contínua si no s’obté com a mínim un <span>{##notaMinimaAC##},00</span> en l’EAC.</p>
    <br/>
</WIOCCL:IF>        
    <p>Compte! El sistema no permet fer lliuraments passades les <span>23’55h</span> de la data prevista.</p>
<WIOCCL:IF condition="{#_ARRAY_LENGTH({##datesJT##})_#}\>0">
    <hr>
    <br/>
    <h2>Jornades tècniques</h2>
    <p>Aquest <WIOCCL:IF condition="''mòdul''!={##tipusBlocModul##}">{##tipusBlocModul##}</WIOCCL:IF> reqereix la realització de jornades tècniques (JT). A continuació es detallen les dates importants:</p>
    <table class="own_table">
      <tr>
        <th>Inscrició</th>
        <th>Llista provisional</th>
        <th>Llista definitiva</th>
        <th>Data de la JT</th>
        <th>Qualificació</th>
      </tr>
<WIOCCL:FOREACH var="item" array="{##datesJT##}">
      <tr>
        <td>{#_DATE("{##item[inscripció]##}")_#}</td>
        <td>{#_DATE("{##item[llista provisional]##}")_#}</td>
        <td>{#_DATE("{##item[llista definitiva]##}")_#}</td>
        <td>{#_DATE("{##item[data JT]##}")_#}</td>
        <td>{#_DATE("{##item[qualificació]##}")_#}</td>
      </tr>
</WIOCCL:FOREACH>            
    </table>
    <p>Si suspeneu la JT podreu fer la recuperació. Les dates importants són:</p>    
    <table class="own_table">
      <caption>recuperacions</caption>
      <tr>
        <th>Inscrició</th>
        <th>Llista provisional</th>
        <th>Llista definitiva</th>
        <th>Data de la JT</th>
        <th>Qualificació</th>
      </tr>
<WIOCCL:FOREACH var="item" array="{##datesJT##}">
      <tr>
        <td>{#_DATE("{##item[inscripció recuperació]##}")_#}</td>
        <td>{#_DATE("{##item[llista provisional recuperació]##}")_#}</td>
        <td>{#_DATE("{##item[llista definitiva recuperació]##}")_#}</td>
        <td>{#_DATE("{##item[data JT recuperació]##}")_#}</td>
        <td>{#_DATE("{##item[qualificació recuperació]##}")_#}</td>
      </tr>
</WIOCCL:FOREACH>            
    </table>
</WIOCCL:IF>
<WIOCCL:IF condition="{#_ARRAY_LENGTH({##datesEAF##})_#}\>0">
    <hr>
    <br/>
    <h2>Exercicis d'avaluació final</h2>
    <p>Aquest mòdul també inclou <span>{#_ARRAY_LENGTH({##datesEAF##})_#} EAF</span>, distribuïts de la següent manera:</p>
    <table class="own_table">
      <tr>
        <th></th>
        <th>Publicació</th>
        <th>Lliurament</th>
        <th>Solució</th>
        <th>Qualificació</th>
      </tr>
<WIOCCL:FOREACH var="item" array="{##datesEAF##}">
      <tr>
        <th>U{##item[unitat]##}</th>
        <td>{#_DATE("{##item[enunciat]##}")_#}</td>
        <td>{#_DATE("{##item[lliurament]##}")_#}</td>
        <td>{#_DATE("{##item[solució]##}")_#}</td>
        <td>{#_DATE("{##item[qualificació]##}")_#}</td>
      </tr>
</WIOCCL:FOREACH>            
    </table>
    <p>És obligatori realitzar els EAF durant el semestre i lliurar-los abans de la data límit indicada a la taula.</p>
    <br/>
    <p>Si suspeneu algun EAF diposeu de la recuperació:</p>
    <table class="own_table">
      <caption>recuperacions</caption>
      <tr>
        <th></th>
        <th>Publicació</th>
        <th>Lliurament</th>
        <th>Solució</th>
        <th>Qualificació</th>
      </tr>
<WIOCCL:FOREACH var="item" array="{##datesEAF##}">
      <tr>
        <th>U{##item[unitat]##}</th>
        <td>{#_DATE("{##item[enunciat recuperació]##}")_#}</td>
        <td>{#_DATE("{##item[lliurament recuperació]##}")_#}</td>
        <td>{#_DATE("{##item[solució recuperació]##}")_#}</td>
        <td>{#_DATE("{##item[qualificació recuperació]##}")_#}</td>
      </tr>
</WIOCCL:FOREACH>            
    </table>
    <p>És obligatori realitzar els EAF durant el semestre i lliurar-los abans de la data límit indicada a la taula.</p>
</WIOCCL:IF>
  </div>
</section>
<!-- /Secció 6 -->

<hr>

<!-- Secció 7 -->
<section class="section section7">
  <div class="own_container">
    <h2>Prova final (PAF)</h2>
    <div class="panell_pafs">
      <div class="paf_1">
        <h3>PAF 1</h3>
        <div class="section7_icona" id="paf-1-icona"></div>
        <h3>{#_DATE("{##dataPaf1##}")_#}</h3>
        <p>Qualificacions:</p>
        <p>{#_DATE("{##dataQualificacioPaf1##}")_#}</p>
        <div class="horizontal_separator"></div>
      </div>
      <div class="vertical_separator"></div>
      <div class="paf_2">
        <h3>PAF 2</h3>
        <div class="section7_icona" id="paf-2-icona"></div>
        <h3>{#_DATE("{##dataPaf2##}")_#}</h3>
        <p>Qualificacions:</p>
        <p>{#_DATE("{##dataQualificacioPaf2##}")_#}</p>
        <div class="horizontal_separator"></div>
      </div>
    </div>
    <p>Cal obtenir una nota mínima de <span>{##notaMinimaPAF##},00</span> per poder aplicar-hi el promig de l’avaluació contínua.</p>
    <br/>
    <p>Podeu presentar-vos a la primera convocatòria (PAF 1) i, en cas de no superar-la, presentar-vos a la segona convocatòria (PAF 2), <span>dues setmanes</span> després.</p>
    <br/>
    <p>En cap cas no es pot fer servir la PAF 2 per pujar nota.</p>
    <br/>
    <p>En cas de no presentar-vos a la PAF 1 perdreu la convocatòria (excepte si n’heu anul·lat la matrícula). En canvi, la convocatòria de la PAF 2 només s’esgota en cas que us hi presenteu.</p>
  </div>
</section>
<!-- /Secció 7 -->

<hr>

<!-- Secció 8 -->
<section class="section section8">
  <div class="own_container">
    <h2 id="qualificació">Qualificació</h2>
     <div class="containerQualificacio" id="contenidorQualificacio">

    </div>
    <script type="text/javascript"> 
(function(){
<WIOCCL:SET var="nbloc" type="map" value="{##tipusBlocModul##}" map="{''mòdul'':0,''1r. bloc'':1,''2n. bloc'':2,''3r. bloc'':3}">
    var dataArray1 = [
<WIOCCL:FOREACH var="itemUf" array="{##taulaDadesUF##}" filter="{##itemUf[bloc]##}=={##nbloc##}">
                      [
                        { 
                          title :"UF{##itemUf[unitat formativa]##}",
                          name :"UF{##itemUf[unitat formativa]##}",
                          percent: 0
                        },                        
<WIOCCL:FOREACH var="item" array="{##dadesQualificacioUFs##}" filter="{##item[unitat formativa]##}=={##itemUf[unitat formativa]##}">                        
                       { 
                          title :"{##item[descripció qualificació]##}",
                          name :"{##item[abreviació qualificació]##}",
                          percent: {##item[ponderació]##}
                        },
</WIOCCL:FOREACH>
                      ],
</WIOCCL:FOREACH>
                      [
                        { 
                          title :"FINAL",
                          name :"FINAL",
                          percent: 0
                        },
<WIOCCL:FOREACH var="item" array="{##taulaDadesUF##}">                        
                       { 
                          title :"UF{##item[unitat formativa]##}",
                          name :"UF{##item[unitat formativa]##}",
                          percent: {##item[ponderació]##}
                        },
</WIOCCL:FOREACH>                        
                      ]
                    ];
</WIOCCL:SET>


    /*****************/

    var numberOfRows = 0;
    var numberOfCells = [];

    for(var i = 0; i <= dataArray1.length - 1; i++) {
        createPercentRow(i);
        createTitleRow(i);
        numberOfRows += 2;
        numberOfCells += dataArray1[i].length;
        }

    for(var i = 0; i <= numberOfRows - 1; i++) {
        for(var j = 0; j <= numberOfCells[i] - 1; j++) {
          /* Creem cel·les de percentatge */
          var newPercentCell =  document.createElement("div");
          var newPercentContentCell =  document.createElement("span");
          var percentCellContent = document.createTextNode(dataArray1[i][j].percent + "%");
          document.createTextNode(dataArray1[i][j].percent + "%");
          newPercentCell.setAttribute("class", "cellQualificacio");
          newPercentContentCell.appendChild(percentCellContent);
          newPercentCell.appendChild(newPercentContentCell);
          newPercentCell.style.width = dataArray1[i][j].percent + "%";
          document.getElementById("percent_row" + i).appendChild(newPercentCell);
          /* Creem cel·les de títol */
          var newTitleCell =  document.createElement("div");
          var newTitleContentCell =  document.createElement("span");
          var titleCellContent = document.createTextNode(dataArray1[i][j].name);
          newTitleCell.setAttribute("class", "cellQualificacio");
          newTitleCell.setAttribute("title", dataArray1[i][j].title);
          newTitleContentCell.appendChild(titleCellContent);
          newTitleCell.appendChild(newTitleContentCell);
          newTitleCell.style.width = dataArray1[i][j].percent + "%";
          document.getElementById("title_row" + i).appendChild(newTitleCell);
        }
    }

    var allCells = document.querySelectorAll(".cellQualificacio");

    for(var k = 0; k <= allCells.length - 1; k++) {

      if (parseInt(allCells[k].style.width) > 0 && parseInt(allCells[k].style.width) < 25) {
            allCells[k].classList.add("smallCell");
            var textHolder = allCells[k].innerHTML;
          }
    }

    /* Funcions per crear files */

    function createPercentRow(index) {
        var newPercentRow =  document.createElement("div");
        newPercentRow.setAttribute("class", "rowQualificacio");
        newPercentRow.setAttribute("id", "percent_row" + index);
        document.getElementById("contenidorQualificacio").appendChild(newPercentRow);
    }

    function createTitleRow(index) {
        var newTitleRow =  document.createElement("div");
        newTitleRow.setAttribute("class", "rowQualificacio");
        newTitleRow.setAttribute("id", "title_row" + index);
        document.getElementById("contenidorQualificacio").appendChild(newTitleRow);
    }
})();
    </script>
    <a target="_blank" href="pt_sencer/pt.html">Consulteu aquí la programació completa</a>
  </div>
</section>
<!-- /Secció 8 -->





</body>
</html>
